{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ticketzz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'home.css' %}" rel="stylesheet">
</head>


<body>
    <main>
        <nav class="navbar navbar-expand-lg" style="top:0">
            <div class="container">
                <a class="navbar-brand" href="/">
                    Ticketzz
                </a>

                <a href="#" class="btn custom-btn d-lg-none ms-auto me-4">Buy Ticket</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="">Home</a>
                        </li>

                        {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/panel/admlogin">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/panel/admsignup">Signup</a>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/panel/dashboard">Flights</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/panel/admadd">Add Flight</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/panel/admsearch">Search Flight</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="">Welcome {{user.username}}</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/panel/admlogout">Logout</a>
                        </li>
                        {% endif %}


                    </ul>
                </div>
            </div>
        </nav>


        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">

                    <div class="col-12 mt-auto mb-5 text-center">
                        <small>Welcome to Ticketzz</small>

                        <h1 class="text-white mb-5">Manage the Flights</h1>

                        <a class="btn custom-btn smoothscroll" href="/panel/admsignup">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="{% static 'adminv.mp4' %}" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </section>
    </main>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery.sticky.js' %}"></script>
    <script src="{% static 'click-scroll.js' %}"></script>
    <script src="{% static 'custom.js' %}"></script>

</body>

</html>